services:
  app:
    container_name: fin-web
    build:
      context: .
      dockerfile: Dockerfile
    command: npm run start
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://localhost:27017/fin?replicaSet=rs0&directConnection=true
      - NODE_ENV=production
    depends_on:
      - mongo

  mongo-express:
    image: mongo-express:1.0.2
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=secret
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
    depends_on:
      mongo:
        condition: service_healthy

  mongo:
    image: mongo:7.0
    command: --replSet rs0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=fin
    healthcheck:
      test: |
        echo "try { 
          rs.status() 
        } catch (err) { 
          rs.initiate({
            _id:'rs0',
            members:[
              {_id:0, host:'localhost:27017'},
              {_id:1, host:'mongo:27017'}
            ]
          }) 
        }" | mongosh --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      start_interval: 1s
      retries: 30

volumes:
  mongo_data:
